@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(21, 36, 61);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(30, 52, 81)
      )
    rgb(21, 34, 55);
    overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
